* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.taskItemBox,
.textCompleted {
  vertical-align: top;
  flex-grow: 1;
  margin: 4px;
  font-family: Sans-Serif;
  border: none;
  border-bottom: none;
  width: 80%;
  resize: none;
  line-height: 1; 
  font-size: 18px;
}

.taskItemBox:focus,
.textCompleted:focus {
  outline: none;
  border-bottom: 1px black solid;
  /* resize: vertical; */
}

.taskItemButton, 
.buttonCompleted {
  padding: 6px;
  margin: 2px;
  vertical-align: top;
}

.textCompleted {
  text-decoration: line-through;
}

.buttonCompleted {
  background-color: #adb8c2;
}